<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Rumit</string>
	<string>Surendra</string>
	<string>Prateek</string>
	<string>Satya</string>
	<string>Siddharth</string>
	<string>Arya</string>
	<string>Uday</string>
</array>
</plist>
